/* -*- mode: c -*-
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define SYMBOLS 1
#define MOVEMENT 2

#define L_SPC &lt SYMBOLS SPACE
#define R_RET &lt MOVEMENT RET

/ {

    combos {
      compatible = "zmk,combos";
      combo_esc {
        timeout-ms = <25>;
        key-positions = <6 7>;
        bindings = <&kp ESC>;
      };
      combo_enter {
        timeout-ms = <25>;
        key-positions = <16 17>;
        bindings = <&kp RET>;
      };
      combo_tab {
        timeout-ms = <25>;
        key-positions = <26 27>;
        bindings = <&kp TAB>;
      };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q     &kp W     &kp E     &kp R     &kp T            &kp Y     &kp U     &kp I     &kp O    &kp P   
&kp A     &kp S     &kp D     &kp F     &kp G            &kp H     &kp J     &kp K     &kp L    &kp SEMI
&kp Z     &kp X     &kp C     &kp V     &kp B            &kp N     &kp M     &kp COMMA &kp DOT  &kp FSLH
                    &kp RET  &kp SHFT &kp RCTRL        &kp SPACE   &kp LANG1 &kp RGUI
            >;
        };
    };
};
