if SHIELD_KHORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Khonsu Khorne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KHORNE_LEFT || SHIELD_KHORNE_RIGHT

config ZMK_SPLIT
    default y

endif

