# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_KHORNE_LEFT
    def_bool $(shields_list_contains,khorne_left)

config SHIELD_KHORNE_RIGHT
    def_bool $(shields_list_contains,khorne_right)
